<h1>Что такое осень - это камни,
Верность над чернеющей Невою.
Осень вновь напомнила душе о самом главном,
Осень, я опять лишён покоя.
Осень вновь напомнила душе о самом главном,
Осень, я опять лишён покоя.</h1>