<h1>Додайте новий пост!</h1>

<form>
  <textarea action="/new_post" method="POST" type="text" class="form-control" rows="7"></textarea><br>
  <button type="submit" class="btn btn-primary">ДОБАВИТИ ПОСТ</button>
</form>