<h1>Додайте новий пост!</h1>

<form action="/new_post" method="POST">
  <textarea name="content" type="text" placeholder="введiть текст" class="form-control" rows="7"></textarea><br>
  <button type="submit" class="btn btn-primary">ДОБАВИТИ ПОСТ</button>
</form>