<h1>Тут ви можете стати нашим гостем!</h1>

<form action="/users" method="POST">

  <div class="form-group">
    <label>Ваше iм'я:</label>
    <input type="text" name="user_name" class="form-control" id="exampleInputEmail1" placeholder="введiть iм'я">
  </div>

  <div class="form-group">
    <label>Ваша фамiлiя:</label>
    <input type="text" name="user_name2" class="form-control" id="exampleInputEmail1" placeholder="введiть Фамiлiю">
  </div>

  <div class="form-group">
    <label>Ваш телефон:</label>
    <input type="text" name="phone" class="form-control" id="exampleInputEmail1" placeholder="введiть номер телефону">
  </div>

  <div class="form-group">
    <label>Коли вас чекати:</label>
    <input type="text" name="date" class="form-control" id="exampleInputEmail1" placeholder="введiть дату">
  </div>

  <div class="form-group">
  <label>Виберiть нашого майстра:</label>
  <select type="text" name="master" class="form-control">
  <option type="text">Коля Ткачук</option>
  <option type="text">Леся Дузiнкевич</option>
  <option type="text">Роман Човганюк</option>
  <option type="text">Орест Калиновський</option>
  <option type="text">Богдан Ткаченко</option>
</select>
</div>

  <button type="submit" class="btn btn-primary">ВIДПРАВИТИ</button>

</form>