body {
	background-color: #D3D3D3;
}

input[type="text"] {
font-size: 18px;
height: 38px;
width: 500px;
}

textarea[type="text"]{
font-size: 18px;
width: 700px;
}

select[type="text"] {
font-size: 18px;
height: 38px;
width: 500px;
}

#x {
	font-size: 20px;
}
#xx {
	background-color: #90EE90;
}
#menu {
	background-color: #ADD8E6;
}

hr {

	width: auto;

	height: 3px;
	background-color: #A9A9A9;
}